{% extends 'base.html' %}
{% block contenido %}
	{% if context.user %}
		<h2>Hola {{context.user.username}}</h2>
	{% endif %}

	<h1><a href="{{url_for('blogViewCategory', slug=context.category.slug)}}">{{context.category.name}}: </a>{{context.category.description}}</h3>
	{% for e in context.entries %}
		<h2><a href="#" slug="{{url_for('viewEntry',slug=e.slug)}}">{{e.title}}</a></h2>
	{% endfor %}
	<a href="{{url_for('blogViewAddEntry', slug=context.category.slug)}}" class="uk-button uk-button-primary">Crear articulo</a>
	<div class="modal_news"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	
	$(document).on('click', 'a[slug]', function(){
		$('.modal_news').empty().load($(this).attr('slug'))
	});
</script>
{% endblock %}